$black: #000000;
$peach: #FF9C7D;
$vivid: #FF6336;
$burlywood: #DABC98;
$pale: #C9E8F2;
$jetBlack: #1D1D1B;
$white: #FFFFFF;
$champagne: #FFF8E4;

.black {
	color: $black;
}

.white {
	color: $white;
}

.peach {
	background-color: $peach;
}

.vivid {
	background-color: $vivid;
}

.burlywood {
  background-color: $burlywood
}

.pale {
	background-color: $pale;
}

.jetBlack {
	background-color: $jetBlack;
}

.bcg_white {
	background-color: $white;
}

.champagne {
	background-color: $champagne;
}