.container {
	max-width: 1350px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

html {
	font-family: GraphikLCG;
	font-weight: 400;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

.mask {
	position: absolute;
	width: 100%;
	z-index: 2;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}

.none {
	display: none;
}

.black_box {
	transition: .5s;
	position: absolute;
	width: 320px;
	height: 100%;
	background-color: black;
	right: -100%;
	z-index: 2;
}

.hidden {
	overflow: hidden;
}

.rotate {
	transition: .5s;
	transform: rotate(-90deg);
}

.right_0 {
	transition: .5s;
	right: 0;
}

@media (max-width: 1330px) {
	
	.container {
		justify-content: center;
	}

}