.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.jc-sb {
	justify-content: space-between;
}

.fd-c {
	flex-direction: column;
}

.jc-sa {
	justify-content: space-around;
}

.jc-c {
	justify-content: center;
}

.ai-c {
	align-items: center;
}
