@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$font-path}.woff2') format('woff2'),
         url('#{$font-path}.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face('GraphikLCG', './fonts/regular/GraphikLCG-Regular', 400, normal);
@include font-face('GraphikLCG', './fonts/semibold/GraphikLCG-semibold', 600, normal);

.fz-15 {
	font-size: 1.5rem;
}

.fz-16 {
	font-size: 1.6rem;
}

.fz-65 {
	font-size: 6.5rem;
}

.fz-25 {
	font-size: 2.5rem;
}

.fz-50 {
	font-size: 5rem;
}

.fz-20 {
	font-size: 2rem;
}

.fz-18 {
	font-size: 1.8rem;
}

.fz-30 {
	font-size: 3rem;
}

.fz-35 {
	font-size: 3.5rem;
}

.fz-17 {
	font-size: 1.7rem;
}

.fz-40 {
	font-size: 4rem;
}

.fz-12 {
	font-size: 1.2rem;
}

.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}