@import './components/color.scss';

.cake {
	padding: 50px 0px 50px 0px;

	&_box-one {
		max-width: 709px;
		width: 100%;
		justify-content: center;
		text-align: center;
		align-items: center;
		padding-bottom: 20px;
	}

	&_box-two {
		max-width: 481px;
		width: 100%;
	}

	&_img {
		max-width: 100%;
		width: 100%;
	}
}

.box-one {

	&_img {
		max-width: 176px;
		width: 100%;
	}
}
.cake_box-one {

	&__title {
		max-width: 461px;
		width: 100%;
		line-height: 5rem;
	}
}
.cake_box-two {

	&__card {
		max-width: 120px;
		width: 100%;
	}
}

@media (min-width: 1330px) {

	.cake {
		padding: 70px 0px 84px 0px;

		&_box-one {
			justify-content: space-between;
		}

		&_box-two {
			border-left: 1px solid $black;
		}

	}

}