.case {
	padding: 50px 0px 50px 0px;

	&_studies {
		align-items: center;
	}

	&_container {
		gap: 20px;
		justify-content: center;
	}

	&_title {
		padding-bottom: 28px;
	}

	&_img-title {
		max-width: 300px;
		width: 100%;
		padding-bottom: 31px;
	}

	&_img-logo {
		max-width: 80px;
		width: 100%;
		padding-bottom: 11px;
	}

	&_text {
		max-width: 290px;
		width: 100%;
		line-height: 3rem;
		padding-bottom: 15px;
		text-align: center;
	}

	&_link {
		color: black;
		padding-bottom: 5px;
		text-align: center;
	}

	&_subtitle {
		padding-bottom: 21px;
	}
	
}

.products {

	&_box-one {
		text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
		padding-bottom: 20px;
	}

	&_box-two {
		text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
	}
}


.case_items {
	gap: 15px;
}

.case_link {
	&:active {
		color: $burlywood;
		transition: .5s;
	}
}

@media (min-width: 490px) {

	.case {

		&_container {
			flex-direction: column;
		}

		&_links {
			min-width: 151px;
		}

	}

	.products {
		&_box-one {
			text-align: left;
			flex-direction: row;
			justify-content: center;
			gap: 100px;
			padding-bottom: 20px;
		}
	
		&_box-two {
			text-align: left;
			flex-direction: row;
			justify-content: center;
			gap: 100px;
		}
	}

	
}

@media (min-width: 1000px) {

	.case {
		padding: 97px 0px 95px 0px;
		&_link {
			&:hover {
				color: $burlywood;
				transition: .5s;
			}
		}

		&_container {
			justify-content: space-between;
		}
	}

	.case {

		&_container {
			flex-direction: row;
			flex-wrap: nowrap;
		}

		&_products {
			display: flex;
			justify-content: space-between;
			max-width: 66.666%;
			width: 100%;
		}

		&_text {
			text-align: left;
		}

		&_studies {
			align-items: start;
		}

	}

	.products {

		&_box-one {
			gap: 0;
			justify-content: space-around;
			max-width: 100%;
			width: 50%;
		}

		&_box-two {
			gap: 0;
			justify-content: space-around;
			max-width: 100%;
			width: 50%;
		}

	}

}