.easy {
	padding: 50px 0px 50px 0px;

	&_title {
		max-width: 784px;
		width: 100%;
		text-align: center;
	}

	&_subtitle {
		padding: 29px 0px 54px 0px;
		max-width: 438px;
		width: 100%;
		text-align: center;
	}
}

@media (min-width: 1330px) {
	
	.easy {
		padding: 119px 0px 161px 0px;
	}

}