@import './components/color.scss';

.header {
	padding: 34px 0px 0px 0px;
	&_container {
		max-width: 790px;
		width: 100%;
	}

	&_form {
		gap: 10px;
	}
}

.form {

	&_btn {
		padding: 20px 25px;
		border: 1px solid rgba(0, 0, 0, 0.50);
		background-color: $white;
		color: $black;
		transition: .5s;

		&:active {
			background-color: $vivid;
			transition: .5s;
			color: white;
		}
	}
}

@media (min-width: 1000px) {
	
	.form {
		&_btn {
			&:hover {
				background-color: $vivid;
				transition: .5s;
				color: white;
			}
		}
	}

}