.preferred {
	padding: 50px 0px 50px 0px;

	&_title {
		line-height: 6rem;
		max-width: 720px;
		text-align: center;
		padding-bottom: 70px;
	}

	&_box {
		max-width: 400px;
		gap: 10px;
		width: 100%;
	}
}

@media (min-width: 1300px) {
	
	.preferred {
		padding: 108px 0px 104px 0px;

		&_box {
			max-width: 1290px;
			width: 1000%;
		}

	}

}